<div class="container">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
              <div class="registration-form">
                  <form method="POST" id="form" #userlogin="ngForm"  (ngSubmit)="loginUser()">
                      <div class="form-group">                        
                        <h3><b>Welcome</b></h3><h5>Please enter your credentials for ordering food.</h5>

                      </div>
                      <br>


                      

                      <div class="form-group">
                        <label>Room/Bed Number</label>                    
                        <input type="text" name="username"  class="form-control item" [(ngModel)]="user.uname" 
                        id="UserName" #username="ngModel" placeholder="Enter your Room Number or Bed Number" pattern="^((\\+91-?)|0)?[0-9]{4}$"required>
                        <label *ngIf="username.invalid && (username.dirty || username.touched) && username.errors.required" >
                          <p style="color: red;">Room or Bed Number is required</p>                             
                        </label>
                        <label *ngIf="username.invalid && username.errors.pattern" >
                          <p style="color: red;">Must be of 4 digit Number</p>               
                        </label>
                      </div>

                      
                      <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control item" [(ngModel)]="user.password" 
                        id="password" #pass="ngModel" placeholder="Enter Password" required minlength="8">
                        <label *ngIf="pass.invalid && (pass.dirty || pass.touched) && pass.errors.required" >
                          <p style="color: red;">Password is required.</p>                             
                        </label>

                        <label *ngIf="pass.invalid && pass.errors.minlength" >
                          <p style="color: red;">Name must be at least 8 characters long.</p>               
                        </label>
                      </div>
                     
                      <div class="form-group">
                          <button type="submit" [disabled]="userlogin.form.invalid" class="btn btn-block create-account" id="loginBtn">Login</button>
                      </div>
                  </form>
              </div>
            
            
            
            
            
          
            
          </div>
        </div>
                                                                                         
                                                      
                                                        
         </div><!--/col-12-->
    </div>
  </div>
          