.navbar {
    width: 50%;
    background-color: rgb(255, 255, 255,.8);
    overflow: auto;
    margin-left: 25%;
    margin-top: 10px;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    padding: 12px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    width: 50%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: rgba(0, 128, 0, 0.5);
    border-radius: 5px;

  }
  
  /* Style the current/active link */
  .navbar a.active {
    background-color: #4CAF50;
  }
  
  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
  }