.container{  
    margin-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 40px;
  }
  .rounded-circle{
    margin-top: 15px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }