<footer>
<!--  -->
     <div class="container-footer">
            <div class="footer">
                 <div class="copyright">
                     © 2021 Care Medcity Hospital | <a href="https://www.google.com/maps/place/Kochi,+Kerala/@9.9823428,76.1608472,11z/data=!3m1!4b1!4m5!3m4!1s0x3b080d514abec6bf:0xbd582caa5844192!8m2!3d9.9312328!4d76.2673041">Kochi</a>
                 </div>

                 <div class="information">
                     <a href="https://in.linkedin.com/in/sudeepsuseelan" target=”_blank” > Developer Information |</a> <a href="https://en.wikipedia.org/wiki/Privacy_policy" target=”_blank”> Privacy policy |</a>  <a href="#"> Terms & Conditions</a>
                 </div>
             </div>

         </div>
     
 </footer>