<div class="container">

	<carousel
		
		[objectFit]="'cover'"
		[cellWidth]="700"
		[height]="500"
		[borderRadius]="10"
		[arrowsOutside]="true"
		[autoplay]="true"
		[dots]="true"
        [loop]="true">
        <div class="carousel-cell">
            <img src="assets/images/chef.jpg">
        </div>
        <div class="carousel-cell">
            <img src="assets/images/hospi.jpg">
        </div>
        <div class="carousel-cell">
            <img src="assets/images/staff.jpg">
        </div>
        <div class="carousel-cell">
            <img src="assets/images/vegitables.jpg">
        </div>
        <div class="carousel-cell">
            <img src="assets/images/canteen.jpg">
        </div>
	</carousel>
</div>
